@using Regression.Application.Interfaces
@using Regression.Domain.Models.Settings

@page "/"
@inject IRequestService _requestService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    protected override async Task OnInitializedAsync()
    {
        // Simulate http call
        var runSettings = new RunSettings
        {
            RunId = Guid.NewGuid(),
            TestId = Guid.NewGuid()
        };
        var uri = new Uri("https://api.oceandrivers.com/v1.0/getEasyWind/EW013/");
        var response = await _requestService.SendAsync(HttpMethod.Get, uri, runSettings.TestId, runSettings);
    }
}